{
    "parser": "@typescript-eslint/parser",
    "plugins": ["prettier"],
    "extends": ["react-app",
      "prettier/@typescript-eslint",
      "plugin:prettier/recommended"],
    "rules": {
      "prettier/prettier": [ 
        "error", {}, { "usePrettierrc": true }
      ],
      "react/prop-types": "off",
      "jsx-a11y/anchor-is-valid": "off"
    }
  }
  